/** {
  font-family: 'Montserrat', sans-serif;
}*/

body {
  /*background-color: #2d363d;*/
  background-color: #050505;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: white;
  /*font-family: 'Montserrat', Sans-Serif;*/
  font-weight: 900;
  text-align: center;
  display: block;
  width: 70%;
  /*margin: 25px auto 15px auto;*/
}

.seat {
  margin: 1% 0;
}

.seat img {
  width: 100%;
  height: 100%;
}

h1 {
  color: white;
  text-align: center;
}

#logo {

width: 30%;
margin: 1% auto 1%;
/*position: absolute;*/
}

#screen {
  clear: both;
  /*margin-top: -100px;*/
  padding-top: 10px;
}

img {
  width: 100%;
}

.jumbotron {
  background: url('images/theater.jpg') center/cover no-repeat;
  width: 100%;
  color: white;
}

#reservations {
  color: white;
  margin: 3% auto 0;
  background-color: #313131;
  width: 100%;
  padding: 4%;
  text-align: center;
  font-size: 2em;
}

form {
color: white;
/*padding: 30px 50px;*/
font-weight:600;
width:100%;
}

#formstyle {
  background-color: #313131;
  width: 100%;
  margin-top: 3%;
  padding: 4%;
}

p {
  text-align: center;
  font-weight:300;

}

span {
  font-weight:400;

}

#centerVertical {
  padding-bottom: 5%;
  margin-top: -5%;
}

#selections {
  color: red;
  font-weight: bolder;
  font-size: 2em;
}

#legend {
  top: 0;
  margin: 0 auto;
  width: 65%;
}
